<app-default-header></app-default-header>
<div
  class="w-full top-14 flex justify-between p-3 px-7 bg-slate-200 font-bold z-50"
>
  Kontostand:
  <span>{{user?.balance | currency: 'EUR'}}</span>
</div>

<ion-content>
  <section>
    <div class="flex justify-between flex-col">
      <ion-list class="m-2" lines="none">
        <div
          *ngFor="let product of allProducts"
          [class.product-list-item]="basketPrice > 0"
        >
          <ion-item>
            <app-product-list-item
              [product]="product"
              (countChange)="applyProductCountChange(product, $event)"
              class="w-full"
            ></app-product-list-item>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </section>
</ion-content>
<div
  class="bg-slate-300 bg-opacity-80 w-full flex justify-center p-3 z-50"
  [hidden]="basketPrice <= 0"
>
  <button
    class="bg-slate-600 py-3 px-11 rounded-sm text-white flex"
    (click)="initializePurchase()"
  >
    Artikel um {{basketPrice | currency:'EUR'}} kaufen
    <ion-icon class="text-base ml-1" icon="checkmark-circle"></ion-icon>
  </button>
</div>
