<app-default-header></app-default-header>

<ion-content>
  <app-history-base badgeDescription="Du bist zurzeit Bierbaron">
    Dies dass
    <!-- <h1>Bisherige Käufe</h1>

    <div *ngFor="let transaction of history; let i = index">
      <div class="flex flex-col">
        <span class="mb-3"
          >{{transaction.purchaseDate | date:'dd.MM.YYYY (HH:mm'}} Uhr)
        </span>

        <div
          *ngFor="let purchase of transaction.purchaseList"
          class="flex justify-between"
        >
          <span>
            {{purchase.amount}} x {{purchase.product.name}}
            {{purchase.product.description}}
          </span>
          <span>{{purchase.amount * purchase.value | currency:'EUR'}} </span>
        </div>
        <div class="flex justify-between">
          <span class="font-bold">Gesamt</span>
          <span class="font-bold"
            >{{transaction.totalValue | currency:'EUR'}}</span
          >
        </div>
        <span class="item-divider" *ngIf="i < history.length - 1"></span>
      </div>
    </div> -->
  </app-history-base>
</ion-content>
